html {
    background-color: #282828;
    color: #ffff
}
.flex {
    display: flex;
}
.container {
    width: 85%;
    margin: auto;
}
/* ---------------------VISUAL--------------------- */
.hidden {
    display: none
}
img {
    width: 100%;
}
.visual{
    display: flex;
    flex-direction: column;
    text-align: center
}
.visual img {
    margin: 1rem auto;
}
h2 {
    margin: 0;
}
/* --------------------CONTROLS-------------------- */
.controls {
    display: flex;
    flex-direction:column;
    align-items:center;
}
#progress-bar {
    width: 100%;
    margin: auto;
}
.player-buttons {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
    justify-content: center;
}
.controls input {
    width: 100%
}
.controls input:hover {
    cursor: pointer;
}
.buttons {
    color: #fff;
    background-color:transparent;
    border: none;
}
.buttons:hover {
    cursor: pointer;
}
/* --------------------PLAYLIST-------------------- */

.buttons.flex {
    align-items:center;
    margin: 1rem 0;
}
.track {
    display: flex;
    flex-direction: row;
}
.track img {
    width: 20%;
    margin:0.5rem
}
.track-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 1rem 0;
    gap: 0.5rem;
    flex-grow: 2;
}
.track-info p {
    margin: 0;
}
.track-info .track-name {
    grid-column: 1/ span 3;
}
.track-info .artist-name {
    grid-row: 2;
    grid-column: 1/ span 3;
}
.track-info .track-length {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 4;
    grid-row: 1/span 2;
}